/*Styling for the main quiz*/

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

}

body {
  background-image: url(../assets/flower.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10%;
}

.header {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 100%;
  margin-top: 5%;
}

.App {
  width: 100%;
  height: 100%;
}

.content{
  display: table;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color:rgb(240, 231, 216);
  border-radius: 15px;

}

.resultBtn {
     padding: 5px;
     margin: 20px;
     align-items: center;
     

}
